<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.keemsa.seasonify" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".features.start.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.about.AboutActivity" android:parentActivityName=".features.start.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.start.MainActivity" />
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.keemsa.seasonify.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <!-- Simple widget-->
        <service android:name=".features.widget.SeasonWidgetIntentService"/>
        <receiver
            android:name=".features.widget.SeasonWidgetProvider"
            android:label="@string/lbl_w_season">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.keemsa.seasonify.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_season"/>
        </receiver>
    </application>

</manifest>